body {
    // 初期設定
    font-size: 10px;
    font-weight: bold;
    color: rgb(74, 74, 74);
    margin: 3px;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    p {
        margin: 0;
    }
    
    // 変数
    $green-main: rgb(50, 171, 57);
    $green-sub: rgb(199, 255, 194);
    $mark-red: rgba(252, 130, 130, 0.9);
    $mark-green: rgba(122, 215, 144, 0.9);
    $mark-blue: rgba(142, 184, 255, 0.8);
    $color:  rgb(74, 74, 74);
    
    // 汎用設定
    .btn:active {
        filter: brightness(0.8);
    }
    .none {
        display: none !important;
    }
    *[state="1"] {
        background-color: $mark-red;
    }
    *[state="2"] {
        background-color: $mark-green;
    }
    *[state="3"] {
        background-color: $mark-blue;
    }
    

    header {
        .title-wrapper {
            display: flex;
            height: 50px;
            background-color: $green-main;
            color: #fff;
            .icon-image {
                width: 40px;
                height: 40px;
                border-radius: 40px;
                margin: 5px;
                background-color: rgb(252,251,244);
                img {
                    width: 25px;
                    margin-left: 7.5px;
                    margin-top: 7px;
                }
            }
            .app-title {
                font-size: 17px;
                font-weight: normal;
                line-height: 50px;
                margin-left: 7px;
                letter-spacing: 1px;
            }
        }
    }

    main {
        .capture-wrapper {
            width: 964px;
            background-color: #fff;
            margin-bottom: 150px;
            .capture-title {
                display: flex;
                height: 130px;
                background-color: $green-main;
                color: #fff;
                .icon-image {
                    width: 100px;
                    height: 100px;
                    border-radius: 90px;
                    margin: 15px;
                    background-color: rgb(252,251,244);
                    img {
                        width: 60px;
                        margin-left: 20.5px;
                        margin-top: 20px;
                    }
                }
                .app-title {
                    font-size: 46px;
                    font-weight: normal;
                    line-height: 70px;
                    margin-top: 30px;
                }
                .author {
                    font-size: 22px;
                    font-weight: normal;
                    float: right;
                    margin-top: -6px;
                    margin-right: 10px;
                }
            }
            .mark-explain-container {
                height: 60px;
                border: 0.5px solid rgb(218, 218, 218);
                background-color: rgba(72, 195, 79, 0.15);
                display: flex;
                .mark-container {
                    display: flex;
                    margin: 0 31px;
                    .mark {
                        width: 48px;
                        height: 48px;
                        margin-top: 6px;
                        border-radius: 50px;
                    }
                    .mark-explain {
                        color: rgb(85, 85, 85);
                        font-size: 23px;
                        margin-top: 12px;
                        margin-left: 8px;
                    }
                }
            }
            .capture-table {
                border-collapse: collapse;
                width: 100%;
                td {
                    border: 1px solid rgb(228, 228, 228);
                }
                .mile-title {
                    width: 116px;
                    line-height: 36px;
                    text-align: center;
                    background-color: $green-sub;
                    p {
                        font-size: 24px;
                        line-height: 21px;
                        margin: 0 -10px -14px;
                        margin-bottom: -14px;
                    }
                    span {
                        font-size: 16px;
                    }
                }
                .mile-title, .td-bottom {
                    border-bottom: 2px solid rgb(199, 199, 199);
                }
                .item-name {
                    text-align: center;
                    font-size: 19px;
                    font-weight: normal;
                }
                .item-container {
                    width: 70px;
                    height: 70px;
                    padding: 0;
                    .item-main {
                        width: 63px;
                        height: 63px;
                        margin: 2.5px;
                        border-radius: 20px;
                        .item-image {
                            margin-top: 2px;
                            margin-left: 5px;
                            width: 56px;
                        }
                        .info-text {
                            font-size: 12px;
                            height: 10px;
                            text-align: center;
                            transform-origin: bottom;
                            transform: scale(0.8);
                            margin-top: -10px;
                        }
                    }
                }
            }
        }
        
        .explain-wrapper {
            margin: 20px 0;
            .explain-container {
                .explain-title {
                    font-size: 18px;
                    padding: 0 5px;
                    margin: 0 5px 10px;
                    border-bottom: 1px solid #b3b3b3;
                }
                .explain-text {
                    margin: 10px;
                    font-size: 11px;
                }
            }
        }
        .captured-image-wrapper {
            margin-bottom: 100px;
            .captured-image-Container {
                display: flex;
                // width: 295px;
                margin: 30px auto;
                filter: drop-shadow(0 0 7.5px #797979);
                .captured-image {
                    width: 295 * 0.5px;
                    margin: 0 auto;
                }
            }
            .waiting-text {
                color: #797979;
                font-size: 16px;
                text-align: center;
                margin: 70px 0;
            }
            .download-btn-container {
                display: flex;
                .download-btn {
                    width: 110px;
                    background-color: #95c0ff;
                    font-size: 13px;
                    text-align: center;
                    padding: 10px 20px;
                    margin: 0 auto;
                    border: 1px solid #507cff;
                    border-radius: 5px;
                    .fa-download {
                        margin-left: -5px;
                        margin-right: 5px;
                    }
                    a {
                        color: $color;
                        text-decoration: none;
                    }
                }
            }
        }

    }
}